<div class="item">
  <!-- 日期分类 -->
  <div ng-hide="loaded" class="mark">{{date|date:"ddMMM"}}</div>
  <ul class="posts">
    <!-- 文章 -->
    <li ng-repeat="(index,post) in posts" ng-click="read(index)">
      <span ng-if="post.column.name" href="javascript:;" class="tag">{{post.column.name}}</span>
      <div class="cont">
        <h3>{{post.title}}</h3>
        <div class="brief">
          <!-- display_style 10001 只文字 -->
          <!-- display_style 10002 图文 -->
          <p ng-class="{only: post.display_style == 10001}" ng-if="post.display_style != 10003">
            {{post.abstract}}</p>
          <!-- display_style 10002 -->
          <div class="thumb" ng-if="post.display_style == 10002">
            <img ng-src="{{post.thumbs[0].small.url}}">
          </div>
          <!-- display_style 10003 -->
          <div class="gallery">
            <div class="img-box" ng-if="post.display_style == 10003">
              <img ng-repeat="thumb in post.thumbs" ng-src="{{thumb.small.url}}">
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="more">
        <button ng-hide="loaded" ng-click="older()">点击加载前一天</button>
      </div>
    </li>
  </ul>
</div>